/* For desktop*/
.col-1{width:8.33% ;} 
.col-2{width: 16.66%;} 
.col-3{width:25% ;} 
.col-4{width: 33.33%;} 
.col-5{width:41.66% ;} 
.col-6{width: 50%;} 
.col-7{width:58.33% ;} 
.col-8{width: 66.66%;} 
.col-9{width: 75%;} 
.col-10{width:83.33% ;} 
.col-11{width:91.66 ;}
.col-12{width:100% ;}  

/* navbar desgin starts from here */

.nav-logo{
	text-align:left;
}
.nav-heading h1{
	text-align:left;
}
.navbar-menu{
	flex-direction:row;
	justify-content:flex-end;
	}
.navbar-menu a{
	padding:5px 10 px;
	margin:20px 0;
	background-color:transparent;
	}
	
	/* navbar desgin ends here */
	/* profile desgin starts from here */
	
	.profile-desc p{
	color:gray;
	margin:0 auto ;
	text-align:center;
	margin-bottom:10px;
	width:50%;
}

.profile .top-weather-icon{
	position:absolute;
	right:100px;
	width: 120px;
	transition: width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
	width:150px;
}
	
.profile .bottom-weather-icon{
	position:absolute;
	bottom:20px;
	left:100px;
	width: 120px;
	transition: width 2s, transform 2s;
}
.profile .bottom-weather-icon:hover{
	width:150px;
}

	
	
	
	/* profile desgin ends here */
	
	
		/* about me desgin starts from here */

.aboutme-image{
	margin-top:100px;
}
.aboutme-image img{
	height:300;
	width:250;
}
.aboutme-desc p{
	text-align:left;
}	
		
		
	/* about me desgin ends here */
	
	/* Professional-experience start here */
	
	.Professional-experience{
		padding:1% 5%;
	}
	
	
	
	/* Professional-experience ends here */
	
	/*achievement-contact starts from here */
	
	.achievement{
		padding-right:50px;
	}
	
	.contact button{
	
	width:105px;
}

/*achievement-contact ends here */
	
	
	